html{
	--primary-clr:#1b5e20;
	--menu-background-clr:#66bb6a;
	--secondary-clr:#43a047;
	--teritary-clr#c8e6c9;

	--nav-center-clr:#c8e6c9; 

	--sidebar-clr:#a5d6a7;
	
	--text-primary-clr:white;
	--text-secondary-clr:black;
	
}