html{
	--primary-clr: #4a148c;
	--menu-background-clr:#5472d3;
	--secondary-clr: #7c43bd;
	--teritary-clr:#f3e5f5;
	--nav-center-clr:#64d8cb; 
	--sidebar-clr:#bdbdbd;
	--text-primary-clr:white;
	--text-secondary-clr:black;
	
}