html{
	--primary-clr: #dd2c00;
	--menu-background-clr:#ff7043;
	--secondary-clr: #ff6434;
	--teritary-clr:#ffccbc;
	--nav-center-clr:#64d8cb; 
	--sidebar-clr:#ffab91;
	--text-primary-clr:white;
	--text-secondary-clr:black;
	
}